.calc {
  display: none;
  min-height: 100%;
  grid-template-columns: 30px 1fr 30px;
  grid-template-rows: 0.1fr 1fr 0.1fr;

  &__wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr;

    width: 99%;
    height: 99%;
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    background: var(--tabs-color-bg);
    border: 3px solid var(--header-btn-color);
    border-radius: 15px;
  }

  &__display {
    display: grid;
    grid-template-rows: 1fr 0.3fr;
    background: transparent;
    border-radius: 11px;
    font-size: 32px;
    
  }

  &__history-operation {
    resize: none;
    border-radius: 11px;
  }

  &__operation {
    padding-right: 15px;
  }

  &__history-operation,
  &__operation {
    outline: none;
    border: none;
    background: transparent;
    padding-left: 15px;
    width: 93%;
  }

  &__controls {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
    padding: 5px;

    #equals {
      grid-row: 4 / 6;
      grid-column: 4;
    }
  }

  &__btn {
    font-weight: 700;
    font-size: 25px;
    border: 0.9px solid var(--header-btn-color);
    background-color: var(--bg-color-btn);
    transition: 0.5s transform;
    cursor: pointer;
    user-select: none;
    border-radius: 10px;

    &:active {
      transform: scale(0.9);
    }
  }

  &__btn-operation {
    color: var(--calc-operation-color);
  }

  #delete {
    background: url("../img/calc/delete.svg") center center/50% 50% no-repeat;
  }
}

@media (max-width: 575px) {
  .calc {
    grid-template-columns: 1fr 250px 1fr;

    &__display {
      width: 100%;
    }
  }
}
