@import "./countdown";
@import "./dates-list";

.counter {
  display: none;
  min-height: 100%;
  grid-template-areas:
    "title-counter title-counter"
    "counter dates"
    "select-date dates"
    "start-btn dates";
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 65px 170px 80px 80px;
  gap: 15px;
  align-items: start;

  &__title {
    grid-area: title-counter;
    align-self: center;
    justify-self: center;
    margin: 0;
    font: {
      size: 26px;
      weight: 500;
    }

    & span {
      font-size: inherit;
    }
  }

  &__select-date {
    grid-area: select-date;
    display: flex;
    align-items: flex-start;
    padding-top: 15px;
    user-select: none;

    input {
      position: relative;

      &::-webkit-calendar-picker-indicator {
        position: absolute;
        inset: 0;
        width: auto;
        height: auto;
        color: transparent;
        background: transparent;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  &__start-btn {
    grid-area: start-btn;
    user-select: none;
  }
}

@media (max-width: 1200px) {
  .counter {
    grid-template-areas:
      "title-counter"
      "counter"
      "select-date"
      "start-btn"
      "dates";
    grid-template-columns: 1fr;
    grid-template-rows: 65px 170px 80px 80px 1fr;
  }
}

@media (max-width: 767px) {
  .counter {
    align-items: center;
    justify-items: center;
    grid-template-rows: 50px 150px 43px 53px 1fr;

    &__select-date {
      width: 90%;
    }

    &__start-btn {
      width: 90%;
    }
  }
}

@media (max-width: 575px) {
  .counter {
    grid-template-rows: 57px 87px 63px 54px 1fr;
    grid-template-columns: 100%;
    gap: 0;

    &__title {
      font-size: 18px;
    }
  }
}
