.countdown {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: -1;

  &__elem {
    position: relative;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:not(:first-child) {
      margin-left: 15px;
    }

    span[class^="countdown"] {
      font-size: 16px;
    }
  }

  #seconds,
  #minutes,
  #hours,
  #days {
    font: {
      weight: 500;
      size: 32px;
    }

    border-radius: 50%;
    width: var(--circle-size);
    height: var(--circle-size);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    z-index: 2;
  }
}

.circle {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;

  &__svg {
    --offset: -1px;
    position: absolute;
    top: var(--offset);
    right: var(--offset);
    bottom: var(--offset);
    left: var(--offset);
    transform: rotate(-90deg);
  }

  &__segment-seconds,
  &__segment-minutes,
  &__segment-hours,
  &__segment-days {
    fill: var(--circle-color-bg);
    stroke: url(#gradient);
    stroke-width: 2px;
    stroke-dasharray: 45 60;
    stroke-linecap: round;
    transform: scale(4.7);
    transform-origin: center;
    transition: stroke-dasharray 1s linear;
  }
}

@media (max-width: 767px) {
  .countdown {
    &__elem {
      width: 100px;
    }

    #seconds,
    #minutes,
    #hours,
    #days {
      height: 100px;
    }
  }
}
