.main-btn {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: none;
  outline: 2px solid var(--input-out-color);
  outline-offset: 2px;
  text-align: center;
  font-size: 20px;
  background-color: var(--input-color-bg);
  transition: transform 0.25s ease-out;
  
  &:hover {
    cursor: pointer;
  }

  &:active {
    transform: scale(0.95);
  }

  &:hover {
    background-color: var(--input-color-bg-hover);
  }

}

.header-btn {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15%;

  &:hover {
    cursor: pointer;
    background-color: var(--header-btn-hover);
  }

  &:active {
    width: 40px;
    height: 40px;
  }

  &__svg {
    width: 100%;
    height: 100%;
    fill: var(--header-btn-color);
  }
}

@media (max-width: 991px) {
  .header-btn {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 767px) {
  .header-btn {
    width: 30px;
    height: 30px;

    &:active {
      width: 24px;
      height: 24px;
    }

    &__svg {
      width: 50%;
    }
  }
}

