.header-btn {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15%;

  &:hover {
    cursor: pointer;
    background-color: var(--header-btn-hover);
  }

  &:active {
    width: 40px;
    height: 40px;
  }

  &__svg {
    width: 75%;
    height: 75%;
    fill: var(--header-btn-color);
  }
}

@media (max-width: 991px) {
  .header-btn {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 767px) {
  .header-btn {
    width: 30px;
    height: 30px;

    &:active {
      width: 24px;
      height: 24px;
    }
  }
}
