.tabs {
  display: none;
  position: absolute;
  top: 113%;
  left: 30%;
  list-style-type: none;
  border-radius: 10%;
  padding: 10px 0 5px 0;
  margin: 0;
  width: 220px;
  background-color: var(--tabs-color-bg);
  user-select: none;
  z-index: 2;

  &__elem {
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
    font-size: 16px;
    min-height: 15px;
    padding: 0 0 5px 15px;
    border-radius: 25px;
    min-height: 43px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 39px;
      display: block;
      height: 2px;
      width: 0;
      background-color: var(--tabs-color-line);
      transition: width 2s;
    }

    &:hover {
      cursor: pointer;

      &::before {
        width: calc(100% - 55px);
      }
    }

    &:active {
      background-color: var(--tabs-btn-active);
      transform: scale(0.95);
      &::before {
        width: 0;
      }
    }

    &-active {
      background-color: var(--tabs-btn-check);

      .tabs__svg {
        fill: var(--tabs-color-check);
      }

      .tabs__btn {
        color: var(--tabs-color-check);
      }

      &::before {
        background-color: var(--tabs-color-check);
      }
    }
  }

  &__btn {
    background-color: transparent;
    border: none;
    outline: none;
    min-width: 150px;
    text-align: left;

    &:hover {
      cursor: pointer;
    }
  }

  &__svg {
    width: 22px;
    height: 22px;
    fill: var(--tabs-color-icon);

    &:hover {
      cursor: pointer;
    }
  }
}

@media (max-width: 1200px) {
  .tabs {
    width: 190px;

    &__btn {
      line-height: 1;
      font-size: 14px;
      text-align: left;
    }

    &__svg {
      height: 20px;
      width: 20px;
    }

    &__elem:not(:last-child) {
      margin-bottom: 5px;
    }

    &__elem {
      &::before {
        left: 40px;
      }
    }
  }
}

@media (max-width: 991px) {
  .tabs {
    width: 165px;

    &__elem {
      &::before {
        left: 40px;
      }
    }
  }
}

@media (max-width: 767px) {
  .tabs {
    left: 10%;
    width: 160px;

    &__btn {
      font-size: 12px;
      min-width: 145px;
    }

    &__elem::before {
      left: 40px;
    }

    &__elem:hover:before {
      width: calc(100% - 47px);
    }
  }
}

@media (max-width: 575px) {
  .tabs {
    &__svg {
      height: 13px;
    }
  }
}
