.circle {
  width: $circle-size;
  height: $circle-size;
  position: absolute;
  top: 0;

  &__svg {
    --offset: -1px;
    position: absolute;
    top: var(--offset);
    right: var(--offset);
    bottom: var(--offset);
    left: var(--offset);
    transform: rotate(-90deg);
  }

  &__segment-seconds,
  &__segment-minutes,
  &__segment-hours,
  &__segment-days {
    fill: transparent;
    stroke: url(#gradient);
    stroke-width: 2px;
    stroke-dasharray: 45 60;
    stroke-linecap: round;
    transform: scale(4.7);
    transform-origin: center;
    transition: stroke-dasharray 1s linear;
  }
}
