@import "../../node_modules/normalize.css/normalize";
@import "fonts/roboto";
@import "variable/variables";
@import "mixins/mixins";
@import "blocks/counter";
@import "blocks/header";
@import "svg-style/counter-circle";

.main {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #13fd8d;
}
