@import "../../node_modules/normalize.css/normalize";
@import "fonts/poppins.scss";
@import "blocks/git-link";
@import "blocks/btns";

@import "blocks/header";
@import "blocks/tabs";
@import "blocks/main-content/countdown/counter";

@import "blocks/main-content/gen-pass/gen-pass";
@import "blocks/main-content/stopwatch//stopwarch";
@import "blocks/main-content/todo-list/todo-list";
@import "blocks/main-content/calculate/calc";

:root {
  --circle-size: 130px;
  --header-heigth: 65px;
  --header-heigth-575: 50px;
  --calc-operation-color: #ffa800;
}

:root.dark-theme {
  // main
  --main-color-text: rgba(179, 197, 239);
  --main-color-bg: rgba(9, 33, 67, 0.8);

  // header-element
  --header-btn-color: rgba(179, 197, 239);
  --header-btn-hover: rgba(9, 33, 67, 0.2);

  // tabs
  --tabs-color-bg: rgba(9, 33, 67);
  --tabs-color-line: rgba(179, 197, 239);
  --tabs-color-icon: rgba(179, 197, 239);
  --tabs-btn-active: rgba(9, 33, 67, 0.2);
  --tabs-btn-check: rgba(5, 122, 255);
  --tabs-color-check: rgb(179, 197, 239);

  // countdown
  --input-out-color: hsl(222 66% 82%);
  --input-color-bg: rgba(9, 33, 67, 0);
  --input-color-bg-hover: #8778c7;
  --circle-color-bg: rgba(9, 33, 67, 0.2);

  // animation
  --anim-border-color: #d82b56;
  --anim-text-color: #d82b56;

  // calc
  --bg-color-btn: #002b4a;
}

:root.light-theme {
  // main
  --main-color-text: hsla(214, 100%, 1%, 0.6);
  --main-color-bg: rgb(240, 246, 255);

  // header-element
  --header-btn-color: hsla(214, 100%, 1%, 0.5);
  --header-btn-hover: rgba(9, 33, 67, 0.2);

  // tabs
  --tabs-color-bg: rgb(255, 255, 255);
  --tabs-color-line: hsla(214, 100%, 1%, 0.45);
  --tabs-color-icon: hsla(214, 100%, 1%, 0.6);
  --tabs-btn-active: rgba(9, 33, 67, 0.2);
  --tabs-btn-check: rgba(5, 122, 255, 0.2);
  --tabs-color-check: rgba(5, 122, 255, 0.7);

  // countdown
  --input-out-color: hsl(222 66% 82%);
  --input-color-bg: white;
  --input-color-bg-hover: #d6f5ef;
  --circle-color-bg: white;

  // animation
  --anim-border-color: #d82b56;
  --anim-text-color: #d82b56;
}

* {
  font-family: "Poppins";
  font-size: 10px;
  color: var(--main-color-text);
}

body {
  display: grid;
  min-height: 100vh;
  grid-template-areas:
    "header header header"
    "... tab_content ...";

  grid-template-rows: var(--header-heigth) 1fr;
  grid-template-columns: 1fr 4fr 1fr;

  background: var(--main-color-bg);
  backdrop-filter: blur(10px);
}

.main-content {
  grid-area: tab_content;
  width: 100%;
}

.show-block {
  display: block;
}

.show-flex {
  display: flex;
}

.show-grid {
  display: grid;
}

@media (max-width: 1200px) {
  body {
    grid-template-columns: 0.5fr 4fr 0.5fr;
  }
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
  body {
    grid-template-columns: 0 4fr 0;
  }
}

@media (max-width: 575px) {
  body {
    grid-template-rows: var(--header-heigth-575) 1fr;
  }

  .main-content {
    max-width: 100%;
    overflow: hidden;
  }
}
